$colorYellow: #F9D949;
$colorRed: #F45050;
$colorNavy: #3C486B;
$colorLightNavy:  #6476a9;
$colorLightestNavy:  #8593bb;
$colorWhite: #F0F0F0;
$colorLightGrey: #E3E3E3;
$colorGrey: #979797;
$colorDarkGrey: #656565;
$colorDarkGreen: #3D8361;

$colorLight: $colorWhite;
$colorLightDull: $colorDarkGrey;
$colorDarkDull:  $colorLightestNavy;
$colorDark: $colorNavy;
$colorAccentLight: $colorYellow;
$colorAccentDark: $colorRed;
$colorAccentDark2: $colorDarkGreen;

// Default to light mode

html, body {
    background: $colorLight;
    color:      $colorDark;
    border-color: $colorDark;
}
a {
    color: $colorAccentDark;
    &:visited {
        color: $colorAccentDark;
    }
    &:hover {
        color: $colorAccentDark2;
    }
}
pre {
    background: $colorDark;
}
code {
    background: $colorLight;
    color: $colorDark;
}
.date {
    color: $colorLightDull;
}

// select dark mode if browser specifies it

@media (prefers-color-scheme: dark) {
    html, body {
        background: $colorDark;
        color:      $colorLight;
        border-color: $colorLight;
    }
    a {
        color: $colorAccentLight;
        &:visited {
            color: $colorAccentLight;
        }
        &:hover {
            color: $colorAccentDark !important;
        }
    }
    pre {
        background: $colorLight;
    }
    code {
        background: $colorDark;
        color: $colorLight;

    }
    .date {
        color: $colorDarkDull;
    }
}

// -------------------------------------------- //

html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 3rem;
    font-family: helvetica, monospace;
    font-size: 24px;
    line-height: 1.4;
    min-height: 100%;
    overflow-wrap: normal;
}

.post-meta {
    text-align: left;
    margin-top: -1.7rem;
    padding-left: 0.4rem;
}

.head-links {
    font-size: 1.5rem;
    flex-direction: row;
    justify-content: space-around;
}

.flex-grid {
    display: flex;
}

.description {
    text-align: center;
    font-size: 1rem;
}

.round-border {
    border: 0.1rem solid;
    border-radius: 0.5rem;
}

.postTitle {
    font-size: 2rem;
}

.content {
    @extend .round-border;
    padding: 1rem;
}

.toc {
    @extend .round-border;
    padding: 1rem;
    padding-bottom: 1.5rem;
}

.vertical-pad {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.center {
    display: flex;
    flex-direction: column;
	align-items: center;
}

.size {
    width: 37rem;
    max-width: 60%;
}

.date {
    font-size: 1.1rem;

}

.mainTitle {
    font-size: 3rem;
    text-align: center;
}

h1 {
    font: inherit;
}

h2, h3, h4, h5, h6 {
    font: inherit;
}

p {
    @extend .vertical-pad;
    font-size: 1rem;
    overflow-wrap: normal;
}

ul {
    padding-left: 3rem;
    padding-right: 1rem;
    justify-self: center;
}

hr {
    text-align: center;
    border: 0;

    &:before { content: '/////' }
    &:after { content: attr(data-content) '/////' }
}

pre {
    padding: 1em;
    overflow-x: auto; /* Fix pre content overflowing parent without scroll bar */
}

table {
    width: 100%;
}

table, th, td {
    border: thin solid;
    border-collapse: collapse;
    padding: 0.4rem;
}

code {
    font-size: 80%;
    padding: 0.1em 0.2em;
    font-size: 90%;
}

code.has-jax {
    -webkit-font-smoothing: antialiased;
    background: inherit !important;
    border: none !important;
    font-size: 100%;
}

blockquote {
    font-style: italic;
    border: thin solid;
    padding: 1rem;
}

img {
    max-width: 100%;
    display: block;
}

figcaption {
    text-align: center;
    opacity: 0.5;
}
